/*---HELPERS---*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --bg-color: #7b3d2e;
    --hole-color: #643022;
    --accent-color: #693224;
    --item-margin: 3px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*.html { 
}*/

.red {
    background-color: red;
    background-image: -webkit-gradient(linear, left top, left bottom, from(red), to(red));
    background-image: -webkit-linear-gradient(top, red, red);
    background-image: -moz-linear-gradient(top, red, red);
    /*box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;*/
}

.green {
    background-color: green;
    border: 1px solid darkgreen;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
    border: 1px solid #ccc;
}

.yellow {
    background-color: yellow;
    border: 1px solid #CCCC00;
}

.blue {
    background-color: blue;
    border: 1px solid darkblue;
}

.round {
    border-radius: 50%;
}

/*---REGULAR---*/

.board {
    background-color:var(--bg-color);
    border-radius:6px;
    width:100%;
    margin-bottom:5px;
}

.inner-border {
    padding:5px 25px 15px 25px;
    margin:10px 20px 15px 20px;
    border-radius:6px;
    border: 1px solid var(--accent-color);
    box-sizing: border-box;
}

.row {
    display:flex;
    flex-wrap:wrap;
}

.sidebar {
    width:100%;
    align-content: center;
}

/*.ornament {
    border: 5px solid var(--accent-color);
    box-sizing: border-box;
}

.ornament__round {
    width:15px;
    height:15px;
}

.ornament__square {
    width:15px;
    height:15px;
}

.ornament__corner {
    width:25px;
    height:25px;
    box-sizing:border-box;
    background-color:var(--accent-color);
}

.ornament__corner::after {
    width:12px;
    height:10px;

    background-color:red;
    position:absolute;
    content:"";
}*/

.guess--group {
    width:75%;
}

.guessgroup--item {
    display: flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    padding: 5px;
    box-sizing: border-box;
}

.guessgroup--item--outline {
    background-color:var(--hole-color);
    opacity:0.2;
    width:35px;
    height:35px;
    margin:0 -2px 0 -2px;
}

.guess {
    width: 35px;
    height: 35px;
    background-color: var(--hole-color);
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    margin: var(--item-margin);
    box-sizing: border-box;
}

.choice--group {
    display:flex;
    justify-content: space-around;
}

.choice {
    width: 40px;
    height: 40px;
    margin: var(--item-margin);
    box-sizing: border-box;
}

.hint--group {
    display: block;
    width: 35px;
    height: 35px;
    border:1px solid var(--accent-color);
    padding:10px;
    border-radius:1px;
}

.hint--row {
    display:flex;
    justify-content:center;
}

.hint {
    background-color:var(--bg-color);
    border:1px solid var(--accent-color);
    margin:var(--item-margin);
    width:10px;
    height:10px;
    box-sizing:border-box;
}

.submitbutton {
    display: none;
    background: url('../images/checkbox.png');
    background-size:cover;
    width:20px;
    height:20px;
    position:relative;
    top:16px;
    left:10px;
}



.win, .gameover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    text-transform: uppercase;
    top: 0;
    left: 0;
    padding-left: 50%;
    padding-top: 50%;
    box-sizing: border-box;
    font-size: 24px;
    opacity: 0.5;
    font-weight: bold;
}

.answerhider {
    left:93px;
    top:5px;
    position:absolute;
    width: 55%;
    display: inline-block;
    padding: .5em;
    perspective: 50em;
}

.answerhider--child {
    margin: 3px;
    padding-top: 12px;
    font-size: 22px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bold;
    color: var(--hole-color);
    border: 1px solid var(--accent-color);
    height: 65px;
    background-color: var(--bg-color);
    display: inline-block;
    text-transform: uppercase;
    transform: rotateX(50deg);
}

.noborder {
    border:0 !important;
}

/* SMALL IPHONES */
/*iphone 5, se*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (-webkit-device-pixel-ratio : 2) {
    .hint--group {
        padding: 1px;
    }

    .guess, .choice {
        width: 26px;
        height: 26px;
    }

    .board {
        margin-bottom: 1px;
        padding-bottom: 5px;
    }

    .answerhider {
        top: -3px;
        left:71px;
    }

    .inner-border {
        padding-bottom: 5px;
        margin: 10px;
    }

    .guessgroup--item {
        padding:4px;
    }
}

/* iphone 6,7,8 */
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-device-pixel-ratio : 2) {
    .hint--group {
        padding: 5px;
    }

    .guess, .choice {
        width: 30px;
        height: 30px;
    }

    .board {
        margin-bottom: 5px;
    }

    .answerhider {
        top: 0;
        left:82px;
    }

    .inner-border {
        padding-bottom:10px;
        margin:10px;
    }

}
