/*---HELPERS---*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    --bg-color: #7b3d2e;
    --hole-color: #5a291c;
    --accent-color: #693224;
    --item-margin: 3px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*.html { 
}*/

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.round {
    border-radius: 50%;
}

/*---REGULAR---*/

.board {
    background-color:var(--bg-color);
    border-radius:4px;
    width:100%;
    padding-top:20px;
    padding-bottom:30px;
    padding-left:40px;
    margin-bottom:30px;
}

.row {
    display:flex;
    flex-wrap:wrap;
}

.sidebar {
    width:100%;
    align-content: center;
}

.ornament {
    border: 5px solid var(--accent-color);
    box-sizing: border-box;
    /*box-shadow: 0 0 5px rgba(0,0,0,.25) inset, 0 0 5px white inset;*/
}

.ornament__round {
    width:15px;
    height:15px;
}

.ornament__square {
    width:15px;
    height:15px;
}

.ornament__corner {
    width:25px;
    height:25px;
    box-sizing:border-box;
    background-color:var(--accent-color);
}

.ornament__corner::after {
    width:12px;
    height:10px;

    background-color:red;
    position:absolute;
    content:"";
}

.guess--group {

}

.guessgroup--item {
    display: flex;
    flex-wrap:nowrap;
    padding: 5px;
    box-sizing: border-box;
}

.guessgroup--item--outline {
    background-color:var(--hole-color);
    opacity:0.2;
    width:35px;
    height:35px;
    margin:0 -2px 0 -2px;
}

.guess {
    width: 30px;
    height: 30px;
    background-color: var(--hole-color);
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    margin: var(--item-margin);
    box-sizing: border-box;
}

.choice--group {
    display:flex;
    margin-left:auto;
    margin-right:auto;
}
 
.choice {
    width: 30px;
    height: 30px;
    margin: var(--item-margin);
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.hint--group {
    display:block;
    width:35px;
    margin-top:7px;
}

.hint--row {
    display:flex;
}

.hint {
    background-color:var(--bg-color);
    border:1px solid var(--accent-color);
    margin:var(--item-margin);
    width:10px;
    height:10px;
    box-sizing:border-box;
}

.submitbutton {
    display: none;
    background: url('../images/checkbox.png');
    background-size:cover;
    width:20px;
    height:20px;
    position:relative;
    top:13px;
    left:10px;
}

.win, .gameover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    text-transform: uppercase;
    top: 0;
    left: 0;
    padding-left: 50%;
    padding-top: 50%;
    box-sizing: border-box;
    font-size: 24px;
    opacity: 0.7;
}

.answerhider {
    left:35px;
    top:10px;
    position:absolute;
    width: 50%;
    display: inline-block;
    padding: .5em;
    perspective: 50em;
}

.answerhider--child {
    margin: 3px;
    padding-top:12px;
    font-size:22px;
    box-sizing:border-box;
    width: 100%;
    text-align:center;
    letter-spacing:1px;
    font-weight:bold;
    color:var(--hole-color);
    border:1px solid var(--accent-color);
    height: 55px;
    background-color:var(--bg-color);
    display: inline-block;
    text-transform: uppercase;
    transform: rotateX(50deg);
}
