@{
    ViewData["Title"] = "Mangimind";
}


    <div class="row">
        <div class="board" id="gameboard">
            <div class="row">
                <div class="answerhider" id="hider">
                    <div class="answerhider--child">mangimind</div>
                </div>
            </div>
            <div class="row attempt" id="row__attempt_0">
                <div class="hint--group">
                    <div class="hint--row">
                    </div>
                    <div class="hint--row">
                    </div>
                </div>
                <div class="guess--group">
                    <div class="answer guessgroup--item" id="attempt_guessgroup_0">
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                    </div>
                </div>
            </div>

            <!---->
            @for (int n = 10; n > 0; n--)
            {
                <div class="row attempt" id="row__attempt_@n">
                    <div class="hint--group">
                        <div class="hint--row">
                            <div class="hint round"></div>
                            <div class="hint round"></div>
                        </div>
                        <div class="hint--row">
                            <div class="hint round"></div>
                            <div class="hint round"></div>
                        </div>
                    </div>
                    <div class="guess--group">
                        <div class="guessgroup--item" id="attempt_guessgroup_@n">
                            <div class="guess round"></div>
                            <div class="guess round"></div>
                            <div class="guess round"></div>
                            <div class="guess round"></div>
                        </div>
                    </div>
                    <div id="attempt_submit_@n" class="submitbutton"></div>
                </div>
                <!---->
            }
        </div>

        <div class="sidebar">
            <div class="choice--group" id="choice--group">
            </div>
        </div>
    </div>

    <div class="gameover" id="lost">Game over!</div>
    <div class="win" id="win">You win!</div>
    <div id="pingraveyeard"></div>
    <!--TEST ORNAMENTS-->
    <!--<div class="board">
        <p>
            <div class="ornament ornament__square"></div>
        </p>

        <p>
            <div class="ornament ornament__round round"></div>
        </p>

        <p>
            <div class="ornament__corner round"></div>
        </p>
    </div>-->

