@{
    ViewData["Title"] = "Mangimind";
}


    <div class="row">
        <div class="board" id="gameboard">
            <div class="row">
                <div class="answerhider" id="hider">
                    <div class="answerhider--child">mangimind</div>
                </div>
            </div>
            <div class="row attempt" id="row__attempt_0">
                <div class="hint--group">
                    <div class="hint--row">
                    </div>
                    <div class="hint--row">
                    </div>
                </div>
                <div class="guess--group">
                    <div class="answer guessgroup--item" id="attempt_guessgroup_0">
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                    </div>
                </div>
            </div>

            <!---->
            <div class="row attempt" id="row__attempt_10">
                <div class="hint--group">
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                </div>
                <div class="guess--group">
                    <div class="guessgroup--item" id="attempt_guessgroup_10">
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                    </div>
                </div>
                <div id="attempt_submit_10" class="submitbutton"></div>
            </div>
            <!---->
            <div class="row attempt" id="row__attempt_9">
                <div class="hint--group">
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                </div>
                <div class="guess--group">
                    <div class="guessgroup--item" id="attempt_guessgroup_9">
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                    </div>
                </div>
                <div id="attempt_submit_9" class="submitbutton"></div>
            </div>
            <!---->
            <div class="row attempt" id="row__attempt_8">
                <div class="hint--group">
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                </div>
                <div class="guess--group">
                    <div class="guessgroup--item" id="attempt_guessgroup_8">
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                    </div>
                </div>
                <div id="attempt_submit_8" class="submitbutton"></div>
            </div>
            <!---->
            <div class="row attempt" id="row__attempt_7">
                <div class="hint--group">
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                </div>
                <div class="guess--group">
                    <div class="guessgroup--item" id="attempt_guessgroup_7">
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                    </div>
                </div>
                <div id="attempt_submit_7" class="submitbutton"></div>
            </div>
            <!---->
            <div class="row attempt" id="row__attempt_6">
                <div class="hint--group">
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                </div>
                <div class="guess--group">
                    <div class="guessgroup--item" id="attempt_guessgroup_6">
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                    </div>
                </div>
                <div id="attempt_submit_6" class="submitbutton"></div>
            </div>
            <!---->
            <div class="row attempt" id="row__attempt_5">
                <div class="hint--group">
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                </div>
                <div class="guess--group">
                    <div class="guessgroup--item" id="attempt_guessgroup_5">
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                    </div>
                </div>
                <div id="attempt_submit_5" class="submitbutton"></div>
            </div>
            <!---->
            <div class="row attempt" id="row__attempt_4">
                <div class="hint--group">
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                </div>
                <div class="guess--group">
                    <div class="guessgroup--item" id="attempt_guessgroup_4">
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                    </div>
                </div>
                <div id="attempt_submit_4" class="submitbutton"></div>
            </div>
            <!---->
            <div class="row attempt" id="row__attempt_3">
                <div class="hint--group">
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                </div>
                <div class="guess--group">
                    <div class="guessgroup--item" id="attempt_guessgroup_3">
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                    </div>
                </div>
                <div id="attempt_submit_3" class="submitbutton"></div>
            </div>
            <!---->
            <div class="row attempt" id="row__attempt_2">
                <div class="hint--group">
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                </div>
                <div class="guess--group">
                    <div class="guessgroup--item" id="attempt_guessgroup_2">
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                    </div>
                </div>
                <div id="attempt_submit_2" class="submitbutton"></div>
            </div>
            <!---->
            <div class="row attempt" id="row__attempt_1">
                <div class="hint--group">
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                    <div class="hint--row">
                        <div class="hint round"></div>
                        <div class="hint round"></div>
                    </div>
                </div>
                <div class="guess--group">
                    <div class="guessgroup--item" id="attempt_guessgroup_1">
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                        <div class="guess round"></div>
                    </div>
                </div>
                <div id="attempt_submit_1" class="submitbutton"></div>
            </div>
        </div>
        <div class="sidebar">
            <div class="choice--group" id="choice--group">
            </div>
        </div>
    </div>

    <div class="gameover" id="lost">Game over!</div>
    <div class="win" id="win">You win!</div>
    <div id="pingraveyeard"></div>
    <!--TEST ORNAMENTS-->
    <!--<div class="board">
        <p>
            <div class="ornament ornament__square"></div>
        </p>

        <p>
            <div class="ornament ornament__round round"></div>
        </p>

        <p>
            <div class="ornament__corner round"></div>
        </p>
    </div>-->

